<h1>Screens</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Screen ID</th>
            <th>Screen Number</th>
            <th>Seating Capacity</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each screen}}
        <tr>
            <td>{{this.screenID}}</td>
            <td>{{this.screenNumber}}</td>
            <td>{{this.seatingCapacity}}</td>
            
            {{! DELETE form }}
            <form id='delete_screen_form'>
                <input type='hidden' name='delete_screen_id' value='{{this.screenID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Screen</h2>
{{#if addError}}
<p style="color:red; font-weight:bold;">
    {{addError}}
</p>
{{/if}}

<form class='cuForm' id='create_screen_form' method ='Post' action='/Screens/addScreen'>
    <table>
        <thead>
            <tr>
                <th>Screen Number</th>
                <th>Seating Capacity</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <input type='number' name='create_screen_num' id='create_screen_num' min='0' required />
            </td>
            <td>
                <input type='number' name='create_screen_capacity' id='create_movie_gcreate_screen_capacityenre' min='0' required/>
            </td>
            <td>
                <button type="submit">Add Screen</button>
            </td>
        </tbody>
    </table>
</form>


{{! Update form }}
<h2>Edit a Screen</h2>
{{#if updateError}}
<p style="color:red; font-weight:bold;">
    {{updateError}}
</p>
{{/if}}

<form class='cuForm' id='update_screen_form' method='Post' action='/Screens/update'>
    <table>
        <thead>
            <tr>
                <th>Screen ID</th>
                <th>Screen Number</th>
                <th>Seating Capacity</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <select name='update_screen' id='update_screen' required>
                    <option value='' disabled selected>Select a Screen ID</option>
                    {{#each screen}}
                    <option 
                        value='{{this.screenID}}'
                        data-screen-number='{{this.screenNumber}}'
                        data-seating-capacity='{{this.seatingCapacity}}'>
                        {{this.screenNumber}}
                    </option>
                    {{/each}}
                </select>
            </td>
            <td>
                <input type='number' name='update_screen_num' id='update_screen_num' required />
            </td>
            <td>
                <input type='number' name='update_screen_capacity' id='update_screen_capacity' required/>
            </td>
            <td>
                <button type="submit">Update Screen</button>
            </td>
        </tbody>
    </table>
</form>

<script>
    document.getElementById("update_screen").addEventListener("change", function () {
        const selectedOption = this.options[this.selectedIndex];
        document.getElementById("update_screen_num").value =
            selectedOption.dataset.screenNumber;
        document.getElementById("update_screen_capacity").value =
            selectedOption.dataset.seatingCapacity;
    });
</script>