<h1>Showtimes</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Showtime ID</th>
            <th>Show Date</th>
            <th>Start Time</th>
            <th>Title</th>
            <th>Screen Number</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each showtime}}
        <tr>
            <td>{{this.showtimeID}}</td>
            <td>{{this.showDate}}</td>
            <td>{{this.startTime}}</td>
            <td>{{this.movieTitle}}</td>
            <td>{{this.screenNumber}}</td>

            {{! DELETE form }}
            <form id='delete_showtime_form'>
                <input type='hidden' name='delete_showtime_id' value='{{this.id}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>


{{! CREATE form }}
<h2>Add a Showtime</h2>
<form class='cuForm' id='create_showtime_form' method='Post' action='/Showtimes/addShowtime'>
    <table>
        <thead>
            <tr>
                <th>Show Date</th>
                <th>Start Time</th>
                <th>Title</th>
                <th>Screen Number</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <input type='date' name='create_showtime_date' id='create_showtime_date' required />
            </td>
            <td>
                <input type='time' name='create_showtime_time' id='create_showtime_time' required />
            </td>
            <td>
                <select name='create_showtime_movie' id='create_showtime_movie' required>
                    <option value='' disabled selected>Select a Movie</option>
                    {{#each movieList}}
                    <option value='{{this.movieID}}' required>
                        {{this.title}}
                    </option>
                    {{/each}}
                </select>
            </td>
            <td>
                <select name='create_showtime_screen' id='create_showtime_screen' required>
                    <option value='' disabled selected>Select a Screen</option>
                    {{#each screenList}}
                    <option value='{{this.screenID}}' required>
                        {{this.screenID}}
                    </option>
                    {{/each}}
                </select>
            </td>
            <td>
                <button type="submit">Add Showtime</button>
            </td>
        </tbody>
    </table>
</form>


{{! Update Form }}
<h2>Edit a Showtime</h2>
<form class='cuForm' id='update_showtime_form' method='Post' action='/Showtimes/update'>
    <table>
        <thead>
            <tr>
                <th>Showtime ID</th>
                <th>Show Date</th>
                <th>Start Time</th>
                <th>Title</th>
                <th>Screen Number</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <select name='update_showtime' id='update_showtime' required>
                    <option value='' disabled selected>Select a Showtime ID</option>
                    {{#each showtime}}
                    <option 
                        value='{{this.showtimeID}}'
                        data-show-date='{{this.showDate}}'
                        data-start-time='{{this.startTime}}'
                        data-movie-id='{{this.movieID}}'
                        data-screen-id='{{this.screenID}}'>
                        {{this.display}}
                    </option>
                    {{/each}}
                </select>
            </td>
            <td>
                <input type='date' name='update_showtime_date' id='update_showtime_date' required />
            </td>
            <td>
                <input type='time' name='update_showtime_time' id='update_showtime_time' required />
            </td>
            <td>
                <select name='update_showtime_movie' id='update_showtime_movie' required>
                    <option value='' disabled selected>Select a Movie</option>
                    {{#each movieList}}
                    <option value='{{this.movieID}}' required>
                        {{this.title}}
                    </option>
                    {{/each}}
                </select>
            </td>
            <td>
                <select name='update_showtime_screen' id='update_showtime_screen' required>
                    <option value='' disabled selected>Select a Screen</option>
                    {{#each screenList}}
                    <option value='{{this.screenID}}' required>
                        {{this.screenNumber}}
                    </option>
                    {{/each}}
                </select>
            </td>
            <td>
                <button type="submit">Update Showtime</button>
            </td>
        </tbody>
    </table>
</form>

<script>
    document.getElementById("update_showtime").addEventListener("change", function () {
        const selectedOption = this.options[this.selectedIndex];
        console.log(selectedOption.dataset);

        const rawDate = selectedOption.dataset.showDate;
        const formattedDate = new Date(rawDate).toISOString().split('T')[0];

        document.getElementById("update_showtime_date").value = formattedDate
        document.getElementById("update_showtime_time").value =
            selectedOption.dataset.startTime;
        document.getElementById("update_showtime_movie").value =
            selectedOption.dataset.movieId;
        document.getElementById("update_showtime_screen").value =
            selectedOption.dataset.screenId;
    });
</script>